@import 'base/bootstrap-reboot';
@import 'vars/mixins';
@import 'vars/vars';

// import blocks

@import 'blocks/promo';
@import 'blocks/titles';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedbacks';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

* {
	font-family: 'MuseoModerno', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}
